html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

pre.example {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  border: 1px solid lightgray;
  background-color: lightgray;
}

pre.result, code {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  border: 1px solid gray;
  background-color: rgb(0, 0, 0);
  color:white;
}